{% extends 'base.html' %}
{% block context %}
  <div class="background-other-page">  
    <header class="text-center text-white product-name-margin ">

        <div class="container my-auto">
            <div class="row ">
                <div class="col-lg-12 result-product-size center-block"
                     style="background-image: url({{ detail_product.link_picture }}); background-position: center center;   background-size: cover;   background-repeat: no-repeat; ">
                    <h4 style="margin-top: 40px;">{{ detail_product.name }} </h4>
                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="container jumbotron-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <h2> nutriscore </h2>
                    <div class="col-lg-12">
                        <p>
                            {% for foo in "ABCDE" %}
                                {% if detail_product.nutrition_grade == foo|lower %}
                                    <strong style="font-size:40px;"> {{ foo }}</strong>
                                {% else %}
                                    {{ foo }}
                                {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                </div>
                <div class="col-lg-6 ml-auto">
                    <h2> repères nutritionnels pour 100g </h2>
                    <div class="col-lg-12">
                        {% if detail_product.saturated_fat_100g != 0 %}
                            <p> Gras saturé : {{ detail_product.saturated_fat_100g }} </p>
                        {% endif %}
                        {% if detail_product.carbohydrates_100g != 0 %}
                            <p>  Glucide : {{ detail_product.carbohydrates_100g }} </p>
                        {% endif %}
                        {% if detail_product.energy_100g != 0 %}
                            <p> énergie : {{ detail_product.energy_100g }} </p>
                        {% endif %}
                        {% if detail_product.sugars_100g != 0 %}
                           <p> Sucre : {{ detail_product.sugars_100g }}</p>
                        {% endif %}
                        {% if detail_product.sodium_100g != 0 %}
                          <p> Sel : {{ detail_product.sodium_100g }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col-lg-12">
                <a href="{{ detail_product.link_http }}"> Voir la fiche d'openFoodFacts</a>
            </div>
        </div>
        </div>
    </section></div>

{% endblock %}
