{% extends 'base.html' %}

{% load static %}
{% block context %}
<header class="masthead text-center text-white d-flex">

      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
               <form class="site-form" action="/food/login/" method="post">

               {% csrf_token %}
               {{ form }}
               <input type="submit" value="Login">
           </form>
        </div>
      </div>
      </div>
</header>

{% endblock %}

