.top-buffer {
    margin-top:20px ;
    padding-top:20px;
}
.result-product-size {
    margin-bottom: 20px;
    padding-bottom: 100px ;
}
.product-name-margin {
    margin-top: 60px;
}
.background-other-page{
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../img/header.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
[class*="col-"], footer {
  background-color: lightgreen;
  border: 2px solid black;
  border-radius: 6px;
  line-height: 40px;
  text-align: center;
}